/* Universal */
* {
  margin: 0;
  padding: 0;
}
/* Body */
body {
  color: white;
  font-family: "Raleway", monospace;
}
/* Sección superior */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: nav;
  padding: 16px 0px 16px 0px;
  background-color: #4d4c7d;
}
/* Título NAV */
nav h1 {
  font-size: xx-large;
}
/* Sección lateral */
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: aside;
  background-color: #363062;
}
/* Título sección lateral */
aside h1 {
  font-size: 32px;
  padding: 16px;
}
/* Ítems sección alteral */
aside p {
  font-size: larger;
  padding: 16px 0px 16px 0px;
}
/* Sección Principal */
main {
  grid-area: main;
  background-color: #f5f5f5;
}
/* Contenedor principal */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 20fr 1fr;
  grid-template-areas:
    "nav nav"
    "aside main"
    "footer footer";
  height: 100vh;
  box-sizing: border-box;
}
/* Contenedor Cartas */
.grid-cards {
  display: grid;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 32px 48px 32px 32px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
/* Propiedad carta */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  box-sizing: border-box;
}
/* Propiedad imagen carta  */
.card-img {
  width: 40%;
  height: 40%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  box-sizing: border-box;
}
/* Título carta */
.titulo {
  font-size: 24px;
  padding-top: 16px;
  color: black;
}
/* Precio carta */
.precio {
  font-size: 24px;
  padding: 12px 0px 12px 0px;
  color: black;
}
/* Botón carta */
button {
  border: none;
  cursor: pointer;
  padding: 8px 0px 8px 0px;
  min-width: 100%;
  color: white;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}
/* Color Botón */
.html {
  background-color: #e54d26;
}
/* Color Botón */
.css {
  background-color: #0277bd;
}
/* Color Botón */
.js {
  background-color: #d3bb37;
}
/* Color Botón */
.react {
  background-color: #00ccff;
}
/* Color Botón */
.node {
  background-color: #8cc84b;
}
/* Color Botón */
.sql {
  background-color: #336791;
}
/* Pié de página */
footer {
  display: flex;
  grid-area: footer;
  justify-content: center;
  align-items: center;
  background-color: #f99417;
}
/* Íconos de pié de página */
footer i {
  padding: 10px;
}
